/* Globals */

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --negro: #111111;
    --sombraDark: 10px 10px 20px rgba(170,170,170,0.16);
    --sombraLight: 10px 10px 20px rgba(0,0,0,0.16)
}

html {
    /* 1 rem = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    color: #333;   
    transition: 0.3s ease-in all;
}

body.dark {
    background-color: var(--negro);
    color: #fff;
}

body.dark a {
    color: white;
}

a {    
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

/* Fuentes */
@font-face {
    font-family: 'ArquitectaHeavy';
    font-weight: 500;
    font-style: normal;
    src: local('Arquitecta-Heavy'),url('../fonts/Arquitecta-Heavy.woff') format('woff');
}

@font-face {
    font-family: 'FuturaBook';   
    font-style: normal;
    src: local('Futura-BT-Book'),url('../fonts/Futura-BT-Book.woff') format('woff');
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 2rem;
    padding-top: 4rem;
    font-size: 3.5rem;
}

.header a,
.header .header__nav  {
    font-family: 'ArquitectaHeavy';
    font-size: 22px;
    color: #000;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    cursor: pointer;
}


.header__nav--btn {
    background-color: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    /* display: flex; */
    outline: none;
}

.header__nav--btn span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    /* display: block; */
    background: none;
    color: #fff;
}

.header__nav--btn::after {
    content: '';
    display: block;
    width: 25px;
    height: 26px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0, 0.2);
}

.header__nav--btn.active {
    background-color: rgb(146, 107, 33);
    color: #000;
}

.header__nav--btn.active::after {
    right: 0;
    left: unset;
}


.banner {
    /* padding-bottom: 3rem; */
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.container-header{
    height: 100vh;
}

.banner h2 {
    font-family: 'FuturaBook';
    font-size: 5.3rem;
    line-height: 1.7em;
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
}

body.dark h2 {
    color: #333;   
}

.saltarina {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7rem;
    border: 0.15rem solid #000;
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;   
    text-decoration: none;
    font-size: 2rem;
    animation-name: xixa;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;        
}

body.dark .saltarina {
    background-color: white;
    color: black;
}

@keyframes xixa {
    0% {
        bottom: 1rem;
    }

    100% {
        bottom: 2rem;
    }
}

.saltarina:hover {
    animation-play-state: paused;
}

.grid-gallery {
    display: grid;
    grid-auto-rows: 350px;
    grid-gap: 0.7rem;
    grid-auto-flow: row dense;
    background-color: rgb(152 152 152 / 28%);
    padding-top: 10px;
  
}

/* --------------------img hover---------------- */

.container-grid-gallery {
    position: relative;
    cursor: pointer;
}

.container-grid-gallery .post-overlay {
    background-color:rgba(0,0,0,0.4);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 20px;
    display: none;
    flex-direction: column;
    color: #fff;
    text-align: center; 
}

.container-grid-gallery:hover .post-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.container-grid-gallery .post-overlay-title {
    font-family: 'FuturaBook';
    font-size: 3em;
    line-height: 20px;
    color: #fff;
}

.container-grid-gallery .post-overlay-button {
    color:#1d1c1c;
    background-color: #fff;
    border-color: #fff;
    font-family: 'FuturaBook';
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    border: 2px solid white;
    padding: 0.7rem 3rem;
    border-radius: 1rem;
}


@media screen and (min-width: 320px) {
    .grid-gallery {
        /* grid-template-columns: repeat(1, 1fr); */
        display: block;
    }    
}

@media all and (min-width: 768px) {
    .grid-gallery {        
        grid-template-columns: repeat(3, 1fr);
    }
}

@media all and (min-width: 1024px) {
    .grid-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}


.container-grid-gallery:nth-child(11n+1) {
    grid-column: span 3;
    
}
.container-grid-gallery:nth-child(11n+2) {
    grid-column: span 2;
    grid-row: span 1;
}


.container-grid-gallery:nth-child(11n+4) {
    grid-column: span 1;
    grid-row: span 1;
}

.container-grid-gallery:nth-child(11n+6) {
    grid-column: span 1;
    grid-row: span 1;
}

.container-grid-gallery:nth-child(11n+7) {
    grid-column: span 3;
    grid-row: span 1;
}

.container-grid-gallery:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}

.container-grid-gallery:nth-child(11n+9) {
    grid-row: span 3;
}

.grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.main img {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #888;
    padding: 0.5rem 0;
    margin: 0 2rem;
    font-size: 1.5rem;
}

.foter__social a {
    margin-right: 10px; 
    display: inline-block;
    width: 2rem;
    height: 1rem;
    
}

.foter__social .icon {
    width: 100%;
}

.foter__social .icon:hover {
   color: rgb(46, 141, 46);
}

.foter__social a:nth-child(1) {
    color:  rgba(29,161,242,1.00);
}

.foter__social a:nth-child(3) {
    color:  rgba(2,127,181,1.00);
}



/* ------------------------ MEDIA QUERIES -------------------------------- */
@media screen and (min-width: 320px) {
    .header {       
        flex-direction: column;        
        margin: 0 1rem;
        padding-top: 0.5rem;
        font-size: 3rem;
        text-align: center;        
    }

    .banner h2 {      
        font-size: 3rem;
        line-height: 1.3em;      
        margin-top: -7rem;            
    }

    .saltarina {       
        width: 3rem;
        height: 3rem;           
    }    
    
}

@media screen and (min-width: 767px) {
    .header {        
        flex-direction: row;       
        align-items: center;     
        margin: 0 3rem;
        padding-top: 1.9rem;
        font-size: 3rem;
        text-align: center;        
    }

}


@media screen and (min-width: 1000px) {
    .banner h2 {      
        font-family: 'FuturaBook';
        font-size: 5.3rem;
        line-height: 1.7em;
        text-align: center;
        font-weight: normal;
        margin-bottom: 0;
    }
    
    .saltarina {
        display: block;
        position: absolute;
        bottom: 3rem;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 7rem;
        border: 0.15rem solid #000;
        width: 6rem;
        height: 6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;   
        text-decoration: none;
        font-size: 2rem;
        animation-name: xixa;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
        animation-iteration-count: infinite;
        animation-direction: alternate;        
    }
}





